<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.schriftgestaltung.DisplayStrings</key>
		<array>
			<string>ـ</string>
		</array>
		<key>com.schriftgestaltung.appVersion</key>
		<string>1300</string>
		<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
		<false/>
		<key>com.schriftgestaltung.formatVersion</key>
		<integer>3</integer>
		<key>com.schriftgestaltung.useGlyphOrder</key>
		<true/>
		<key>com.schriftgestaltung.useNiceNames</key>
		<false/>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>CR</string>
			<string>NULL</string>
			<string>space</string>
			<string>uni00A0</string>
			<string>uni0640</string>
			<string>uni0840</string>
			<string>uni0840.Fina</string>
			<string>uni0840.Fina_XShort</string>
			<string>uni0840.Isol</string>
			<string>uni0841</string>
			<string>uni0841.Fina</string>
			<string>uni0841.Init</string>
			<string>uni0841.Isol</string>
			<string>uni0841.Medi</string>
			<string>uni0842</string>
			<string>uni0842.Fina</string>
			<string>uni0842.Init</string>
			<string>uni0842.Isol</string>
			<string>uni0842.Medi</string>
			<string>uni0843</string>
			<string>uni0843.Fina</string>
			<string>uni0843.Init</string>
			<string>uni0843.Isol</string>
			<string>uni0843.Medi</string>
			<string>uni0844</string>
			<string>uni0844.Fina</string>
			<string>uni0844.Fina_XShort</string>
			<string>uni0844.Init</string>
			<string>uni0844.Isol</string>
			<string>uni0844.Medi</string>
			<string>uni0844.Medi_XShort</string>
			<string>uni0845</string>
			<string>uni0845.Fina</string>
			<string>uni0845.Init</string>
			<string>uni0845.Isol</string>
			<string>uni0845.Medi</string>
			<string>uni0846</string>
			<string>uni0846.Fina</string>
			<string>uni0846.Isol</string>
			<string>uni0847</string>
			<string>uni0847.Fina</string>
			<string>uni0847.Fina_XShort</string>
			<string>uni0847.Isol</string>
			<string>uni0847.Medi</string>
			<string>uni0848</string>
			<string>uni0848.Fina</string>
			<string>uni0848.Fina_Long</string>
			<string>uni0848.Fina_Short</string>
			<string>uni0848.Init</string>
			<string>uni0848.Init_Long</string>
			<string>uni0848.Isol</string>
			<string>uni0848.Isol_Long</string>
			<string>uni0848.Medi</string>
			<string>uni0848.Medi_Long</string>
			<string>uni0848.Medi_Short</string>
			<string>uni0849</string>
			<string>uni0849.Fina</string>
			<string>uni0849.Fina_Short</string>
			<string>uni0849.Fina_XShort</string>
			<string>uni0849.Isol</string>
			<string>uni084A</string>
			<string>uni084A.Fina</string>
			<string>uni084A.Init</string>
			<string>uni084A.Isol</string>
			<string>uni084A.Medi</string>
			<string>uni084B</string>
			<string>uni084B.Fina</string>
			<string>uni084B.Init</string>
			<string>uni084B.Isol</string>
			<string>uni084B.Medi</string>
			<string>uni084C</string>
			<string>uni084C.Fina</string>
			<string>uni084C.Init</string>
			<string>uni084C.Isol</string>
			<string>uni084C.Medi</string>
			<string>uni084D</string>
			<string>uni084D.Fina</string>
			<string>uni084D.Init</string>
			<string>uni084D.Isol</string>
			<string>uni084D.Medi</string>
			<string>uni084E</string>
			<string>uni084E.Fina</string>
			<string>uni084E.Init</string>
			<string>uni084E.Isol</string>
			<string>uni084E.Medi</string>
			<string>uni084F</string>
			<string>uni084F.Fina</string>
			<string>uni084F.Init</string>
			<string>uni084F.Isol</string>
			<string>uni084F.Medi</string>
			<string>uni0850</string>
			<string>uni0850.Fina</string>
			<string>uni0850.Init</string>
			<string>uni0850.Isol</string>
			<string>uni0850.Medi</string>
			<string>uni0851</string>
			<string>uni0851.Fina</string>
			<string>uni0851.Init</string>
			<string>uni0851.Isol</string>
			<string>uni0851.Medi</string>
			<string>uni0852</string>
			<string>uni0852.Fina</string>
			<string>uni0852.Init</string>
			<string>uni0852.Isol</string>
			<string>uni0852.Medi</string>
			<string>uni0853</string>
			<string>uni0853.Fina</string>
			<string>uni0853.Init</string>
			<string>uni0853.Isol</string>
			<string>uni0853.Medi</string>
			<string>uni0854</string>
			<string>uni0854.Fina</string>
			<string>uni0854.Isol</string>
			<string>uni0855</string>
			<string>uni0855.Fina</string>
			<string>uni0855.Init</string>
			<string>uni0855.Isol</string>
			<string>uni0855.Medi</string>
			<string>uni0856</string>
			<string>uni0856.Isol</string>
			<string>uni0857</string>
			<string>uni0857.Isol</string>
			<string>uni0858</string>
			<string>uni0858.Isol</string>
			<string>uni0859</string>
			<string>uni085A</string>
			<string>uni085B</string>
			<string>uni085E</string>
			<string>uni200C</string>
			<string>uni200D</string>
			<string>uni25CC</string>
		</array>
		<key>public.openTypeCategories</key>
		<dict>
			<key>.notdef</key>
			<string>base</string>
			<key>CR</key>
			<string>base</string>
			<key>NULL</key>
			<string>base</string>
			<key>space</key>
			<string>base</string>
			<key>uni00A0</key>
			<string>base</string>
			<key>uni0640</key>
			<string>base</string>
			<key>uni0840</key>
			<string>base</string>
			<key>uni0840.Fina</key>
			<string>base</string>
			<key>uni0840.Fina_XShort</key>
			<string>base</string>
			<key>uni0840.Isol</key>
			<string>base</string>
			<key>uni0841</key>
			<string>base</string>
			<key>uni0841.Fina</key>
			<string>base</string>
			<key>uni0841.Init</key>
			<string>base</string>
			<key>uni0841.Isol</key>
			<string>base</string>
			<key>uni0841.Medi</key>
			<string>base</string>
			<key>uni0842</key>
			<string>base</string>
			<key>uni0842.Fina</key>
			<string>base</string>
			<key>uni0842.Init</key>
			<string>base</string>
			<key>uni0842.Isol</key>
			<string>base</string>
			<key>uni0842.Medi</key>
			<string>base</string>
			<key>uni0843</key>
			<string>base</string>
			<key>uni0843.Fina</key>
			<string>base</string>
			<key>uni0843.Init</key>
			<string>base</string>
			<key>uni0843.Isol</key>
			<string>base</string>
			<key>uni0843.Medi</key>
			<string>base</string>
			<key>uni0844</key>
			<string>base</string>
			<key>uni0844.Fina</key>
			<string>base</string>
			<key>uni0844.Fina_XShort</key>
			<string>base</string>
			<key>uni0844.Init</key>
			<string>base</string>
			<key>uni0844.Isol</key>
			<string>base</string>
			<key>uni0844.Medi</key>
			<string>base</string>
			<key>uni0844.Medi_XShort</key>
			<string>base</string>
			<key>uni0845</key>
			<string>base</string>
			<key>uni0845.Fina</key>
			<string>base</string>
			<key>uni0845.Init</key>
			<string>base</string>
			<key>uni0845.Isol</key>
			<string>base</string>
			<key>uni0845.Medi</key>
			<string>base</string>
			<key>uni0846</key>
			<string>base</string>
			<key>uni0846.Fina</key>
			<string>base</string>
			<key>uni0846.Isol</key>
			<string>base</string>
			<key>uni0847</key>
			<string>base</string>
			<key>uni0847.Fina</key>
			<string>base</string>
			<key>uni0847.Fina_XShort</key>
			<string>base</string>
			<key>uni0847.Isol</key>
			<string>base</string>
			<key>uni0847.Medi</key>
			<string>base</string>
			<key>uni0848</key>
			<string>base</string>
			<key>uni0848.Fina</key>
			<string>base</string>
			<key>uni0848.Fina_Long</key>
			<string>base</string>
			<key>uni0848.Fina_Short</key>
			<string>base</string>
			<key>uni0848.Init</key>
			<string>base</string>
			<key>uni0848.Init_Long</key>
			<string>base</string>
			<key>uni0848.Isol</key>
			<string>base</string>
			<key>uni0848.Isol_Long</key>
			<string>base</string>
			<key>uni0848.Medi</key>
			<string>base</string>
			<key>uni0848.Medi_Long</key>
			<string>base</string>
			<key>uni0848.Medi_Short</key>
			<string>base</string>
			<key>uni0849</key>
			<string>base</string>
			<key>uni0849.Fina</key>
			<string>base</string>
			<key>uni0849.Fina_Short</key>
			<string>base</string>
			<key>uni0849.Fina_XShort</key>
			<string>base</string>
			<key>uni0849.Isol</key>
			<string>base</string>
			<key>uni084A</key>
			<string>base</string>
			<key>uni084A.Fina</key>
			<string>base</string>
			<key>uni084A.Init</key>
			<string>base</string>
			<key>uni084A.Isol</key>
			<string>base</string>
			<key>uni084A.Medi</key>
			<string>base</string>
			<key>uni084B</key>
			<string>base</string>
			<key>uni084B.Fina</key>
			<string>base</string>
			<key>uni084B.Init</key>
			<string>base</string>
			<key>uni084B.Isol</key>
			<string>base</string>
			<key>uni084B.Medi</key>
			<string>base</string>
			<key>uni084C</key>
			<string>base</string>
			<key>uni084C.Fina</key>
			<string>base</string>
			<key>uni084C.Init</key>
			<string>base</string>
			<key>uni084C.Isol</key>
			<string>base</string>
			<key>uni084C.Medi</key>
			<string>base</string>
			<key>uni084D</key>
			<string>base</string>
			<key>uni084D.Fina</key>
			<string>base</string>
			<key>uni084D.Init</key>
			<string>base</string>
			<key>uni084D.Isol</key>
			<string>base</string>
			<key>uni084D.Medi</key>
			<string>base</string>
			<key>uni084E</key>
			<string>base</string>
			<key>uni084E.Fina</key>
			<string>base</string>
			<key>uni084E.Init</key>
			<string>base</string>
			<key>uni084E.Isol</key>
			<string>base</string>
			<key>uni084E.Medi</key>
			<string>base</string>
			<key>uni084F</key>
			<string>base</string>
			<key>uni084F.Fina</key>
			<string>base</string>
			<key>uni084F.Init</key>
			<string>base</string>
			<key>uni084F.Isol</key>
			<string>base</string>
			<key>uni084F.Medi</key>
			<string>base</string>
			<key>uni0850</key>
			<string>base</string>
			<key>uni0850.Fina</key>
			<string>base</string>
			<key>uni0850.Init</key>
			<string>base</string>
			<key>uni0850.Isol</key>
			<string>base</string>
			<key>uni0850.Medi</key>
			<string>base</string>
			<key>uni0851</key>
			<string>base</string>
			<key>uni0851.Fina</key>
			<string>base</string>
			<key>uni0851.Init</key>
			<string>base</string>
			<key>uni0851.Isol</key>
			<string>base</string>
			<key>uni0851.Medi</key>
			<string>base</string>
			<key>uni0852</key>
			<string>base</string>
			<key>uni0852.Fina</key>
			<string>base</string>
			<key>uni0852.Init</key>
			<string>base</string>
			<key>uni0852.Isol</key>
			<string>base</string>
			<key>uni0852.Medi</key>
			<string>base</string>
			<key>uni0853</key>
			<string>base</string>
			<key>uni0853.Fina</key>
			<string>base</string>
			<key>uni0853.Init</key>
			<string>base</string>
			<key>uni0853.Isol</key>
			<string>base</string>
			<key>uni0853.Medi</key>
			<string>base</string>
			<key>uni0854</key>
			<string>base</string>
			<key>uni0854.Fina</key>
			<string>base</string>
			<key>uni0854.Isol</key>
			<string>base</string>
			<key>uni0855</key>
			<string>base</string>
			<key>uni0855.Fina</key>
			<string>base</string>
			<key>uni0855.Init</key>
			<string>base</string>
			<key>uni0855.Isol</key>
			<string>base</string>
			<key>uni0855.Medi</key>
			<string>base</string>
			<key>uni0856</key>
			<string>base</string>
			<key>uni0856.Isol</key>
			<string>base</string>
			<key>uni0857</key>
			<string>base</string>
			<key>uni0857.Isol</key>
			<string>base</string>
			<key>uni0858</key>
			<string>base</string>
			<key>uni0858.Isol</key>
			<string>base</string>
			<key>uni0859</key>
			<string>mark</string>
			<key>uni085A</key>
			<string>mark</string>
			<key>uni085B</key>
			<string>mark</string>
			<key>uni085E</key>
			<string>base</string>
			<key>uni200C</key>
			<string>base</string>
			<key>uni200D</key>
			<string>base</string>
			<key>uni25CC</key>
			<string>base</string>
		</dict>
	</dict>
</plist>
